$white: #fff;
$black: #F52549;
$black-light: #00000033;
$orange: #F98866;
// Green colors Class but Royal blue colour codes

$green-50: #e6e6f8;
$green-100: #b3b3eb;
$green-200: #8080dd;
$green-300: #8080dd;
$green-400: #8080dd;
$green-500: #8080dd; // Main text heading
$green-600: #8080dd;
$green-700: #8080dd;
$green-800: #8080dd;
$green-900: #FA6775;

// Gray colors class but peach colour codes

$gray-50: #b3b3eb;   // footer colour
$gray-100: #fae4d9;
$gray-200: #f8dbcc;
$gray-300: #f7d2bf;
$gray-400: #f5c8b2;
$gray-500: #f3bfa5;
$gray-600: #FA6775;
$gray-700: #FA6775; // most of the right text and desription text colour
$gray-800: #FA6775;
$gray-900: #FA6775;
